﻿<div class="container">
    <div ng-repeat="product in products">
        <div class="row">
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="{{ product.Images[0].ImageLink }}" alt="">
                <h3>{{ product.Name }}
                    <small>{{ product.Price }}</small>
                </h3>
                <p>{{ product.Description }}</p>
            </div>
        </div>
    </div>
</div>